* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  /* color: #7d1423; */
}

html {
  background-color: #222220;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s;
  cursor: pointer;
}

.display-none {
  display: none !important;
}

img {
  object-fit: cover;
}
